gray1 RCDATA "resource\\1.png"
gray2 RCDATA "resource\\2.png"
gray3 RCDATA "resource\\3.png"
gray4 RCDATA "resource\\4.png"
gray5 RCDATA "resource\\5.png"
color1 RCDATA "resource\\color\\1.png"
color2 RCDATA "resource\\color\\2.png"
color3 RCDATA "resource\\color\\3.png"
color4 RCDATA "resource\\color\\4.png"
color5 RCDATA "resource\\color\\5.png"
